:root {
 --primary-color: rgb(179,16,159); /* pink */
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  @apply pb-2;
} 

h1 {
  @apply text-4xl font-medium;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl;
}

p {
  margin: 0 0 1.5em;
}

/* a {
  color: var(--primary-color);
} */





.link-button{
  @apply flex items-center gap-1 px-2 py-0.5 cursor-pointer border rounded-sm text-pink-300 border-pink-500 hover:bg-violet-600 hover:text-white hover:border-violet-600;
}
